.content-categories-gift 
	display block
	width 100%
	text-align center
	clearfix()
.logo-gift 
	display inline-block
	width 210px
	height 200px
	float left
.categories-gift 
	display flex
	float left
	width calc(100% - 210px)
	justify-content space-between
	align-content center
	.category-gift 
		height 200px
		img
			transform rotate(0deg)
			transition .5s all ease
			&:hover
				transform rotate(10deg)
				transition .5s all ease
.setbody-regalos
	display block
	background #e6e6e6 url('/arquivos/Background-regalos-gray.jpg') no-repeat
	background-position-x 50%
	background-attachment fixed
	.wrapper .header
		display none
	.product-item 
		background white
	.featured-categories-products
		overflow hidden
		.content
			padding 0 !important
			.banner-category-gift 
				display inline-block
				width 210px
				height 500px
				vertical-align top
				.content-banner 
					display block
					width 135px
					height 100%
					img
						height 100%
						border-radius 5px
						border 2px solid white
						box-shadow gray 0px 5px 19px
			.product-shelf-wrapper
				display inline-block
				vertical-align top
				width calc(100% - 210px) !important
				.controls-direction 
					.control.prev
						left 190px

@media all and (max-width 1024px)
	.categories-gift 
		width calc(100% - 170px)
		.category-gift 
			height 155px
			a
				display block
	.logo-gift
		width 170px
		height 155px
	.setbody-regalos 
		.featured-categories-products 
			.content 
				.banner-category-gift
					height auto
					max-height 450px
					img
						max-height 450px
@media all and (max-width 600px)
	.setbody-regalos 
		background #e6e6e6 url('/arquivos/Fondo-Landing-regalos-mobile.jpg') no-repeat
		padding-bottom 20px
		background-size 100%
		background-attachment fixed
		.featured-categories-products 
			.content 
				.product-shelf-wrapper
					margin-top 10px
					width 100% !important
				.banner-category-gift
					display block
					width 100%
					.content-banner
						display block
						width 100%
						img
							height auto
	.featured-categories-products
		&.clear-fix
			display none 
		&.row-mobile
			margin-top 0 !important
	.logo-gift 
		display block
		width 100%
		height auto
		padding 10px 0
		img
			display block
			margin 0 auto
	.categories-gift 
		display block
		width 90%
		.slick-list
			overflow inherit